{* Latte template *}

{block content}
{if $user->IsLoggedIn()}
        <div class="block" id="dispecer">
            <h1>Nová objednavka</h1>
            {control vytvoritObjednavkuForm}
        </div>
        <div class="block" id="dispecer">
            <a n:href="Homepage:"><h1>Domů</h1></a>
        </div>

{else}
    <a n:href="Sign:in">Přihlásit</a>
{/if}