{* Latte template *}

{block content}

<div id="vsichni" class="block"> 
                <h1>Všichni řidiči</h1>
                <div>
                    <div n:inner-foreach="$ridiciVsichni as $r">
                        <div id="ridic-{$r->idOsoba}">
                            <h2>{$r->prezdivka}</h2>
                            <h3>{$r->stav}</h3>
                        </div>
                    </div>
                </div>
        
</div>