{* Latte template *}    

{block content}
<div class="block" id="vsechnyJizdy">
    <h1>Všechny jízdy:</h1>
    <ul>
        {foreach $jizdy as $j }
        <li id="jednaJizda">Z {$j->uliceOd} {$j->cisloOd} Do {$j->uliceDo} {$j->cisloDo} {$j->casStart}</li>
        {/foreach}
    </ul>
</div>


    
